<form>
  <div class="container" style="margin-top:5%">
    <h2>Fibonacci Algorithm Performance Comparison</h2>
    <p><br>This Proof of Concept was created to research two concepts, that WASM is faster than using a C#/C WebService and <br>
      to prove that front-end oriented JavaScript libaries would continue working as intended - without requiring changes.</p>
    <div class="row" style="margin-top:5%">
      <div class="col-sm">
        <div class="form-group">
          <input type="text" [(ngModel)]="WASM_N" name="WASM_N" class="form-control" style="width:75%" placeholder="Enter N">
            <button class="btn btn-primary" name="btnWASM" style="width:75%" (click)="submitWASMFibonacci()">Get Fibonacci of N - WASM</button>
            <p><br>This makes a function call to a WASM function which will calculate N and return it.</p>
          </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <input type="text" [(ngModel)]="NET_N" name="NET_N" class="form-control" style="width:75%" placeholder="Enter N">
          <button class="btn btn-primary" name="btnNet" style="width:75%" (click)="submitWASMNet()">Get Fibonacci of N - WebService</button>
          <p><br>This makes a HTTP Post request to a C# WebService which will calculate N and return it.</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <button class="btn btn-success" name="btnRenderTable" (click)="renderTable()">Apply JavaScript DataTable Library</button>
          <p><br>Render the plain html table below in a DataTable, which is a JavaScript library used to support the front-end by creating tables.</p>
          <p><b>After rendering once, please refresh page to re-render if desired.</b></p>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="header">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" name="DataTable">
      <thead>
        <tr>
          <th>Type</th>
          <th>N</th>
          <th>Result</th>
          <th>Execution Time (Function Only) in ms</th>
          <th>Respond Time (Network + Function) in ms</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of results">
          <td>{{ r.type }}</td>
          <td>{{ r.n }}</td>
          <td>{{ r.result }}</td>
          <td>{{ r.exec_time }}</td>
          <td>{{ r.response_time }}</td>
        </tr>
      </tbody>
    </table>
</div>
